<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ru.ok.android.sdk.example"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="ru.ok.android.sdk.example.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ru.ok.android.sdk.OkAuthActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="ok125497344"
                    android:scheme="okauth"/>
            </intent-filter>
        </activity>
        <activity android:name="ru.ok.android.sdk.OkPostingActivity"/>
        <activity android:name="ru.ok.android.sdk.OkAppInviteActivity"/>
        <activity android:name="ru.ok.android.sdk.OkAppSuggestActivity"/>
    </application>

</manifest>